---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Connect">
	<main>
    <div class="background-icon-container">
      <object data="/icon.svg" type="image/svg+xml" width="200">
        <img src="/web-app-manifest-512x512.png" />
      </object>
    </div>
		<h1><span class="text-gradient">Say Hey</span></h1>
    <section>
      <p>Have questions, need help, or want to share a suggestion for Aglow? We’re here to listen and assist! Whether it's a feature request, feedback on our app, or a bug you encountered, we welcome your input.</p>
      <p>Reach out anytime to: <a href="mailto:hello@aglow.life">hello@aglow.life</a></p>

      <p>Our team will review your message and respond as soon as possible. We’re committed to creating the best experience for our users and appreciate your support and feedback!</p>
    </section>
  </main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
  .background-icon-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	section {
		margin-top: 2rem;
		text-align: center;
	}
	section p {
		margin-bottom: 1rem;
	}
	a {
		color: rgb(var(--accent-light));
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
</style>
