---
import Layout from '../layouts/Layout.astro';
import BottomLink from '../components/BottomLink.astro';
---

<Layout title="Aglow">
	<main>
    <div class="background-icon-container">
      <object data="/icon.svg" type="image/svg+xml" width="200">
        <img src="/web-app-manifest-512x512.png" />
      </object>
    </div>
		<h1><span class="text-gradient">Aglow</span></h1>
    <div class="main-container">
		<p class="blurb">building genuine connection through shared values, dreams, and desires</p>
    <a href="https://apps.apple.com/us/app/aglow-life/id6463022133" target="_blank" rel="noopener noreferrer">
      <img src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg"
           alt="Download on the App Store"
           style="width: 200px;">
    </a>
    		<p class="coming-soon-message">coming soon to google play store!</p>
		<ul role="list" class="link-card-grid">
      <BottomLink
        href="/connect"
        title="connect"
      />
      <BottomLink
        href="/terms"
        title="terms"
      />
      <BottomLink
        href="/privacy"
        title="privacy"
      />
		</ul>
  </div>
	</main>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const userAgent = navigator.userAgent || navigator.vendor;

      // Check if the device is running iOS
      const isIOS = /iPad|iPhone|iPod/.test(userAgent) && typeof (window as any).MSStream === "undefined";

      // Get the query string parameter from the URL
      const params = new URLSearchParams(window.location.search);
      const redirectToAppStore = params.has("openstore");

      if (isIOS && redirectToAppStore) {
        // Redirect to your App Store link
        window.location.href = "https://apps.apple.com/us/app/aglow-life/id6463022133";
      }
    });
	</script>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .background-icon-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	.blurb {
		font-size: 1.2rem;
		font-weight: normal;
		text-align: center;
		margin-top: 2rem;
	}
	.coming-soon-message {
		font-size: 1.2rem;
		font-weight: bold;
		text-align: center;
		color: rgb(var(--accent-light)); /* Or another color of your choice */
	}
	.link-card-grid {
    display: flex;
    justify-content: center;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
