---
import Layout from '../layouts/Layout.astro';
import BottomLink from '../components/BottomLink.astro';

const PLAY_STORE_URL = "https://play.google.com/store/apps/details?id=com.aglow.abbey&pli=1";
const APP_STORE_URL = "https://apps.apple.com/us/app/aglow-life/id6463022133";
---

<Layout title="Aglow Life">
	<main>
    <div class="background-icon-container">
      <object data="/icon.svg" type="image/svg+xml" width="200">
        <img src="/web-app-manifest-512x512.png" />
      </object>
    </div>
		<h1><span class="text-gradient">Aglow</span></h1>
    <div class="main-container">
		<p class="blurb">connection through letting your light of interest and values shine</p>
    <div class="store-buttons">
      <a href={APP_STORE_URL} target="_blank" rel="noopener noreferrer">
        <img src="/download-on-the-app-store-apple-logo-svgrepo-com.svg"
             alt="Download on the App Store"
             style="width: 200px;">
      </a>
      <a href={PLAY_STORE_URL} class="play-store-button" >
        <img src="/google-play-badge-logo-svgrepo-com.svg"
             alt="Get it on Google Play"
             style="width: 200px;">
      </a>
    </div>
		<ul role="list" class="link-card-grid">
      <BottomLink
        href="/connect"
        title="connect"
      />
      <BottomLink
        href="/terms"
        title="terms"
      />
      <BottomLink
        href="/privacy"
        title="privacy"
      />
		</ul>
  </div>
	</main>
  <script define:vars={{ PLAY_STORE_URL, APP_STORE_URL }}>
    import { handleStoreRedirect } from '../scripts/storeRedirect';
    handleStoreRedirect(APP_STORE_URL, PLAY_STORE_URL);
  </script>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .background-icon-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	.blurb {
		font-size: 1.2rem;
		font-weight: normal;
		text-align: center;
		margin-top: 2rem;
	}
	.coming-soon-message {
		font-size: 1.2rem;
		font-weight: bold;
		text-align: center;
		color: rgb(var(--accent-light)); /* Or another color of your choice */
	}
	.link-card-grid {
    display: flex;
    justify-content: center;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	.store-buttons {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
</style>
