---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- Link to Google Fonts for Nunito -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap" rel="stylesheet" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--accent: 184, 108, 44; /* Darker bronze base */
		--accent-light: 207, 150, 99; /* Darker lighter bronze */
		--accent-dark: 112, 56, 14; /* Darker darker bronze */
		--accent-gradient: linear-gradient(
			160deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 80%
		);
	}
	html {
		/* Use Nunito font */
		font-family: 'Nunito', system-ui, sans-serif;
		background: #13151a;
	}
	code {
		font-family:
			Ubuntu,
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
  h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
  h1, h2, h3 {
		font-family: 'Montserrat', sans-serif;
	}
  .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>

